/*
Theme Name: ResellPiacenza - Shoptimizer Child
Theme URI: https://resellpiacenza.shop
Description: Resell Piacenza Theme - Child theme for Shoptimizer
Author: Francesco - Resell Piacenza
Template: shoptimizer
Version: 1.0.0
*/
